
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

venv/
env/
.venv/

.vscode/
.idea/
*.npy
*.npz

*.h5

submission/
results_vis/
wandb/
*.wandb
*.pth
best_moon_model.pth
*.zip

.cache/
*.bak
*.tmp

*.lnk
desktop.ini

*.yaml.lock

data/

# readme
PROJECT_SPECS.md
INSTRUCTIONS.md
ABOUT_DATASET.md
code.md
old_best/*
